[Unit]
Description=Spawn a container in a btrfs snapshot

[Service]
Environment=BASEDIR=/opt/buildroot
Environment=BINDDIR=/opt/aur-builder
ExecStart=/opt/aur-builder/snapbuild %i
StandardInput=socket
StandardOutput=journal
SuccessExitStatus=1
NoNewPrivileges=true
MountFlags=private
